body {
  font-family: 'Oswald', sans-serif;
  background-color: #D1DDDB; }

.buttonstyle {
  display: flex;
  margin: auto;
  background-color: #1D6A96;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border: 3px solid #1D6A96;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  /*this is used to the let user to know the button can be clicked*/ }
  .buttonstyle:hover {
    background-color: white;
    color: #1D6A96; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70%;
  margin: 0 auto;
  text-align: center; }
  ul li {
    display: inline-block;
    margin: 0 50 0 50;
    vertical-align: middle; }
    ul li a {
      text-decoration: none;
      font-size: 30px;
      color: #1D6A96;
      opacity: 0.7; }
      ul li a:hover {
        opacity: 1; }
    ul li img {
      width: 150px; }

section#home {
  max-height: 600px;
  width: 100%;
  background-color: #85B8CB; }
  section#home #name {
    font-size: 80px;
    color: #1d6a96;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  section#home h2 {
    font-size: 40px;
    margin: -60 0 100 0;
    color: #1d6a96;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

section#about {
  height: 100%;
  width: 100%;
  background-color: #D1DDDB; }
  section#about #selfie {
    display: grid;
    grid-template-columns: auto auto;
    width: 1000px;
    margin: auto;
    padding: 0; }
    section#about #selfie p {
      width: 90%;
      font-size: 20px;
      padding: 20px; }
    section#about #selfie img {
      width: 90%;
      border: 2px solid black; }

section#portfolio {
  height: 800px;
  width: 100%;
  background-color: #1D6A96; }
  section#portfolio .grid {
    display: grid;
    margin: auto;
    grid-template-columns: auto;
    width: 600px; }
    section#portfolio .grid div {
      border: 2px solid black;
      border-radius: 15px;
      display: block;
      margin: auto;
      width: 100%;
      height: 200px;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: #85B8CB;
      position: relative; }
      section#portfolio .grid div #ruby {
        background-color: #CF173C; }
      section#portfolio .grid div #rubyAction {
        display: none;
        float: right;
        max-width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        color: #e83054; }
        section#portfolio .grid div #rubyAction button {
          width: 30%;
          font-size: 20px;
          padding: 0;
          background-color: white; }
          section#portfolio .grid div #rubyAction button:hover {
            background-color: #d9d9d9; }
          section#portfolio .grid div #rubyAction button img {
            width: 50%; }
      section#portfolio .grid div #rubyback {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0; }
      section#portfolio .grid div #headingtext h1 {
        width: 45%;
        text-align: center; }
      section#portfolio .grid div #headingtext p {
        width: 45%;
        text-align: center;
        font-weight: 100; }
      section#portfolio .grid div #calltoaction {
        display: none;
        float: right;
        max-width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center; }
        section#portfolio .grid div #calltoaction button {
          width: 40%;
          font-size: 20px;
          padding: 0;
          background-color: white; }
          section#portfolio .grid div #calltoaction button:hover {
            background-color: #d9d9d9; }
          section#portfolio .grid div #calltoaction button img {
            width: 50%; }
      section#portfolio .grid div #colouredimg {
        width: 55%;
        top: 0;
        right: 0;
        height: 200px;
        position: absolute; }
      section#portfolio .grid div #sketchimg {
        width: 70%;
        top: 0;
        left: -20;
        height: 200px;
        position: absolute;
        display: none; }
    section#portfolio .grid .splitGrid {
      display: grid;
      background-color: #1D6A96;
      border: none;
      margin: auto;
      grid-template-columns: auto auto;
      width: 100%;
      margin-bottom: 10px; }
      section#portfolio .grid .splitGrid #skyparksecure #skyPimg {
        width: 260px;
        top: 0;
        right: 10;
        position: absolute; }
      section#portfolio .grid .splitGrid #skyparksecure #SkyParktext {
        display: none; }
        section#portfolio .grid .splitGrid #skyparksecure #SkyParktext h2 {
          width: 45%;
          text-align: center; }
        section#portfolio .grid .splitGrid #skyparksecure #SkyParktext p {
          width: 45%;
          text-align: center; }
      section#portfolio .grid .splitGrid #skyparksecure #Skybutton {
        display: none;
        float: right;
        max-width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center; }
        section#portfolio .grid .splitGrid #skyparksecure #Skybutton button {
          width: 40%;
          font-size: 20px;
          padding: 0;
          background-color: white; }
          section#portfolio .grid .splitGrid #skyparksecure #Skybutton button:hover {
            background-color: #d9d9d9; }
          section#portfolio .grid .splitGrid #skyparksecure #Skybutton button img {
            width: 50%; }
      section#portfolio .grid .splitGrid #dissertation {
        background: url("img/comingSoon.svg") no-repeat; }
      section#portfolio .grid .splitGrid div {
        width: 95%;
        background-color: #85B8CB; }

section#contact {
  height: 600px;
  width: 100%;
  background-color: #D1DDDB; }
  section#contact h2 {
    text-align: center;
    font-size: 30px;
    margin: 20 auto 20 auto;
    max-width: 50%; }
  section#contact h1 {
    text-align: center;
    font-size: 40px;
    margin: 0 auto 20 auto;
    max-width: 50%; }
  section#contact .buttonstyle {
    margin-top: 150px; }
  section#contact .social_media {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 600px;
    margin: auto; }
    section#contact .social_media .fa {
      margin: auto;
      padding: 20px;
      font-size: 60px;
      width: 33%;
      text-align: center;
      text-decoration: none;
      color: #1D6A96; }
      section#contact .social_media .fa:hover {
        opacity: 0.7; }

section#content {
  background-color: #D1DDDB;
  width: 100%;
  margin-bottom: 20px; }
  section#content .contentNav {
    width: 100%;
    background-color: #1D6A96;
    margin: auto; }
    section#content .contentNav ul {
      width: 100%;
      position: relative;
      background-color: #D1DDDB; }
      section#content .contentNav ul li {
        margin: 0;
        width: 30%;
        font-size: 15px;
        padding-top: 10px;
        cursor: pointer; }
      section#content .contentNav ul #product {
        background-color: #1D6A96; }
    section#content .contentNav .emojiTalk {
      width: 90%;
      background-color: white;
      margin: auto; }
      section#content .contentNav .emojiTalk p {
        max-width: 80%;
        margin: 40 40 40 40; }
    section#content .contentNav #early {
      display: none; }
      section#content .contentNav #early img {
        width: 100%; }
    section#content .contentNav #middle {
      display: none; }
      section#content .contentNav #middle img {
        display: relative;
        margin: auto;
        width: 40%; }
    section#content .contentNav #end {
      display: block; }
      section#content .contentNav #end img {
        width: 100%; }

#skyparkduty {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  width: 90%; }
  #skyparkduty div {
    border: 2px solid black;
    display: block;
    margin: auto;
    width: 90%;
    background-color: white;
    margin-bottom: 20px; }
    #skyparkduty div p, #skyparkduty div h2 {
      padding: 10px; }

section#content {
  width: 100%; }
  section#content #banner {
    width: 70%;
    display: block;
    margin: auto; }

.contentNav h4 {
  padding: 0 20 0 20; }

.imagess {
  max-width: 70%;
  margin: auto; }
  .imagess img {
    max-height: 400px; }
  .imagess #mobileruby {
    max-width: 60%; }

.intro {
  max-width: 70%;
  margin: auto; }

footer {
  width: 100%;
  height: 50px;
  background-color: black; }

@media all and (max-width: 400px) {
  body {
    background-color: #D1DDDB; }

  section#home {
    width: 100%; }
    section#home ul {
      border: 2px solid black;
      width: 100%; }
      section#home ul li {
        border: 2px solid black;
        margin: auto; }
        section#home ul li img {
          width: 20%; }
        section#home ul li a {
          font-size: 20px; }
    section#home #name {
      font-size: 50px; }
    section#home h2 {
      font-size: 30px; }

  section#about {
    width: 100%; }
    section#about #selfie {
      width: 100%; }
      section#about #selfie img {
        display: none; }

  section#portfolio {
    width: 100%; }
    section#portfolio .grid {
      display: grid;
      grid-template-columns: auto;
      width: 100%; }
      section#portfolio .grid .splitGrid {
        display: grid;
        grid-template-columns: auto; }

  section#contact {
    width: 100%; }
    section#contact h1, section#contact h2 {
      font-size: 20px; } }

/*# sourceMappingURL=stylesheet.css.map */
