body{
font-family: 'Oswald', sans-serif;
background-color: #D1DDDB;
}

// styling global buttons
.buttonstyle{
  display:flex;
  margin:auto;
  background-color: #1D6A96;
  justify-content:center;
  width:300px;
  padding:20px;
  border:3px solid #1D6A96;
  border-radius:2px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  margin-bottom:20px;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  text-decoration:none;
  font-weight: bold;
  font-size:26px;
  letter-spacing:2px;
  text-transform:uppercase;
  color:white;


/*this is used to the let user to know the button can be clicked*/
&:hover{
  background-color: white;
  color:#1D6A96;
}
}

// global navigation
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:70%;
  margin:0 auto;
  text-align: center;

  li{
    display: inline-block;
    margin:0 50 0 50;
    vertical-align: middle;


    a{
      text-decoration: none;
      font-size:30px;
      color:#1D6A96;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
    img{
      width:150px;
    }
  }}

  // nesting inside the home section
section#home{
  max-height:600px;
  width:100%;
  background-color: #85B8CB;

// text shadow is used toput a border around the headers
#name{
font-size: 80px;
color:#1d6a96;
text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
h2{
  font-size:40px;
  margin: -60 0 100 0;
  color:#1d6a96;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

}

// about section start
section#about{
  height:100%;
  width:100%;
  background-color: #D1DDDB;

// setting up grid for picture and content
  #selfie{
    display:grid;
    grid-template-columns: auto auto;
    width:1000px;
    margin:auto;
    padding:0;
    p{
      width:90%;
      font-size:20px;
      padding:20px;

    }
    img{
      width: 90%;
      border: 2px solid black;

    }
  }

}

// start of the portfolio section
section#portfolio{
  height:800px;
  width:100%;
  background-color: #1D6A96;

  // first grid user to get everything in veritcal line

.grid{
  display: grid;
  margin:auto;
  grid-template-columns: auto;
  width:600px;
// next 50 odd lines are for the styling of all the imgs and buttons in the portfolio grid
  div{
    border: 2px solid black;
    border-radius: 15px;
    display: block;
    margin:auto;
    width:100%;
    height:200px;
    margin-top:5px;
    margin-bottom:5px;
    background-color: #85B8CB;
    position:relative;

    #ruby{
      background-color: #CF173C;
}
#rubyAction{
  display: none;
  float:right;
  max-width:50%;
  position: absolute;
  top:0;
  right:0;
  text-align: center;
  color:#e83054;

  button{
    width:30%;
    font-size:20px;
    padding:0;
    background-color:white;

    &:hover{
      background-color:#d9d9d9;
    }

    img{
      width:50%;
    }
  }
}
    #rubyback{
      width:100%;
      position: absolute;
      bottom:0;
      left:0;
    }
    #headingtext{

    h1{
      width:45%;
      text-align: center;
    }
    p{
      width:45%;
      text-align: center;
      font-weight: 100;
    }
  }

  #calltoaction{
    display: none;
    float:right;
    max-width:50%;
    position: absolute;
    top:0;
    right:0;
    text-align: center;

    button{
      width:40%;
      font-size:20px;
      padding:0;
      background-color:white;

      &:hover{
        background-color:#d9d9d9;
      }

      img{
        width:50%;
      }
    }
  }


    #colouredimg{
      width:55%;
      top:0;
      right:0;
      height:200px;
      position: absolute;
    }
    #sketchimg{
      width:70%;
      top:0;
      left:-20;
      height:200px;
      position: absolute;
      display: none;
    }

  }

// split the grid into 2 for the smaller projects
  .splitGrid{
    display: grid;
    background-color: #1D6A96;
    border:none;
    margin:auto;
    grid-template-columns: auto auto;
    width:100%;
    margin-bottom:10px;
// styling for the skypark button
    #skyparksecure{

      #skyPimg{
        width:260px;
        top:0;
        right:10;
        position: absolute;
      }

      #SkyParktext{
        display:none;

        h2{
          width:45%;
          text-align: center;
        }
        p{
          width:45%;
          text-align: center;
        }
      }

      #Skybutton{
        display: none;
        float:right;
        max-width:50%;
        position: absolute;
        top:0;
        right:0;
        text-align: center;

        button{
          width:40%;
          font-size:20px;
          padding:0;
          background-color:white;

          &:hover{
            background-color:#d9d9d9;
          }

          img{
            width:50%;
          }
        }
      }
    }
    // dissertation placeholder

    #dissertation{
      background: url('img/comingSoon.svg') no-repeat;
    }
    div{
      width:95%;
      background-color: #85B8CB;
    }
  }
}
}

// start of content section
section#contact{
  height:600px;
  width:100%;
  background-color: #D1DDDB;

  h2{

    text-align: center;
    font-size: 30px;
    margin:20 auto 20 auto;
    max-width:50%;
  }
  h1{
    text-align: center;
    font-size: 40px;
    margin:0 auto 20 auto;
    max-width:50%;
  }

  .buttonstyle{
    margin-top:150px;
  }

// grid for social media links
  .social_media{
    display:grid;
    grid-template-columns: auto auto auto;
    width:600px;
    margin:auto;

    .fa {
      margin:auto;
      padding: 20px;
      font-size: 60px;
      width: 33%;
      text-align: center;
      text-decoration: none;
      color:#1D6A96;

  &:hover {
    opacity: 0.7;
}
}


  }
}


//EmojiPage

section#content{
  background-color: #D1DDDB;
  width:100%;
  margin-bottom:20px;


  .contentNav{
    width:100%;
    background-color: #1D6A96;
    margin:auto;

    ul{
      width:100%;
      position: relative;
      background-color:#D1DDDB;

      li{
        margin:0;
        width:30%;
        font-size: 15px;
        padding-top:10px;
        cursor: pointer;
}
      #product{
        background-color: #1D6A96;
}
    }

    .emojiTalk{
      width:90%;
      background-color:white;
      margin:auto;

      p{
        max-width:80%;
        margin: 40 40 40 40;
      }
    }
    #early{
      display: none;


      img{
        width:100%;
      }
    }
    #middle{
      display: none;
      img{
        display: relative;
        margin:auto;
        width:40%;
      }
    }
    #end{
      display: block;
      img{
        width:100%;
      }
    }

  }

}

//skyparksecure Page
// setting up grid to display the two differnt types of work at skypark
#skyparkduty{
  display:grid;
  grid-template-columns: auto auto;
  margin:auto;
  width:90%;


  div{
  border:2px solid black;
  display: block;
  margin:auto;
  width:90%;
  background-color:white;
  margin-bottom:20px;

  p, h2{
    padding:10px;
  }

}
}

// the content of the indivisualpages
section#content{
  width:100%;
#banner{
  width:70%;
  display:block;
  margin:auto;
}
}
.contentNav{
  h4{

  padding: 0 20 0 20;
}
}

//rubyside Page
.imagess{
  max-width:70%;
  margin:auto;
  img{
    max-height:400px;
  }
  #mobileruby{
    max-width:60%;
  }
}

.intro{
  max-width:70%;
  margin:auto;
}
footer{
    width:100%;
    height:50px;
    background-color: black;
  }

// mobile stylings
  @media all and (max-width: 400px) {

    body{
      background-color: #D1DDDB;
      }

    section#home{
      width:100%;
      ul{
        border:2px solid black;
        width:100%;
        li{
          border:2px solid black;
          margin:auto;
          img{
            width:20%;
          }
          a{
            font-size:20px;
          }
        }
      }
      #name{
        font-size:50px;
      }
      h2{
        font-size:30px;
      }
    }
    section#about{
      width:100%;
      #selfie{
        width:100%;
// removing the image to save space
        img{
          display:none;
        }
      }
    }

// change grid layout to fit all portfolios on the page
    section#portfolio{
      width:100%;
      .grid{
        display:grid;
        grid-template-columns: auto;
        width:100%;
        .splitGrid{
          display:grid;
          grid-template-columns: auto;
        }

      }
    }

    section#contact{
      width:100%;
      h1, h2{
      font-size:20px;
    }
  }

}
